extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{project.project_name}

        p #{project.description}

      .project-tech-links-box.box
        h6 #{project.technologies}
        ul

        each technology in project.technologies
         li #{technology}

        a.btn-link(href=`${project.live_link}`) Live Demo
        a.btn-link(href=`${project.github_link}`) GitHub Repo

    .project-img-box.box

      each image_url, index in project.image_urls
        if index > 0 
          img.project-img(src=image_url, alt='project_photo')
        
        

    nav.nav
      a(href='/')
        span &larr;
        |  Back
